<div class="container">    
    <div class="form-group col-sm-6">
        <div class="text-left">
            <h2>Enter player's names</h2>
        </div>

        <label class="control-label">Player 1:</label>
        <input class="form-control" type="text" ng-model="vm.player1" placeholder="e.g. Santiago" required /><br />
        <label class="control-label">Player 2:</label>
        <input class="form-control" type="text" ng-model="vm.player2" placeholder="e.g. Jimena" required /><br />
        <button class="btn btn-primary" ng-click="vm.startGame()" ng-disabled="!vm.player1 || !vm.player2">Start</button>
    </div>
</div>